.recoveryConfirm-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100%;
  gap: 40px;
  margin: 12px;
}

.recoveryConfirm-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.recoveryConfirm-container h2 {
  margin-bottom: 40px;
  font-size: 1.5rem;
  color: #1f1d1d;
  font-weight: 700;
}

.recoveryConfirm-container p {
  margin-bottom: 20px;
  color: #9b9b9b;
}

.text,
.email {
  width: 100%;
  padding: 20px 16px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  font-size: 14px;
  display: grid;
}

.recoveryConfirm-container button {
  display: flex;
  margin: auto;
  justify-content: center;
  width: calc(100% - 2rem);
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #6200ee;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.recoveryConfirm-container button:hover {
  background-color: #3700b3;
}

.recoveryConfirm-container .sign-in-link {
  color: #775ce5;
  text-decoration: none;
  font-weight: bold;
}

/* .link-p {
    color: #1d1d1f;
  }
  
  .link-a {
    color: #775ce5;
  } */

.recoveryConfirm-container .error {
  color: red;
  text-align: center;
  margin-top: 1rem;
}
