.back-button {
  background-image: url("back-button.svg");
  background-repeat: no-repeat;
  /* background-position: right; */
  width: 24px;
  height: 24px;

  cursor: pointer;
  transition: opacity 0.7s;
  padding-left: 20px;
  margin-top: 20px;
}

.back-button:hover {
  opacity: 0.7;
}
